/* Esto es un comentario en CSS */
body{background-color:rgb(3, 59, 47);}
header{color: rgb(251, 250, 250);}


ol,
ul {
    list-style: none;
    color: rgb(241, 245, 18);
}
a {
    text-decoration: none;
    color: rgb(251, 245, 245);
}


header {
    display: flex;
    background-color: rgb(36, 149, 4);
    align-items: center;
    justify-content: space-between;
    gap: 1,1em;

    
}

/* datos corazon */
header a i {
    color: rgb(238, 242, 243);
    font-size: 3em;
    padding: 0.5em;
    

}


header nav ul {
    display: flex;
    gap: 3em;
    
    

}
header nav ul li a {
    color: rgb(9, 204, 45);
}



/* foto de logo  */
.logo {
  display: flex;
  justify-content: center;
padding: 2%;
width: 300px;
height: 300px;

}
.seccion-1 {
background-color: antiquewhite;
display: flex;
justify-content: center;
align-items: center;
padding: 2em;

  
}

.img-sección2 {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-between;
   
   
      
    }
.img-sección2 {
    margin: 5px;
   padding: 1px 2px 5px;
      
    }

.seccion-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aqua;
    
     
    }
    .seccion-2 {
        padding: 1px 2px 4px;
         
        }


footer {
  background-color:rgb(223, 241, 188);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  margin: 1px 2px 4px;
  
    
  }

  
 footer {
 
    color: rgb(3, 0, 9);
  
      
    }

   

.seccion-3 {
 
    background-color: aqua
    
       
     }

     .ul-a {
       padding:;
         }
    
